li#h1 a, li#h2 a, li#h3 a {
    font-size: 1rem !important;
    color: white !important;
    font-weight: lighter !important;
    font-family: 'Roboto', sans-serif;
}

li#h4 a, li#h5 a, li#h6 a {
    font-size: .7rem !important;
    color: white !important;
    font-weight: lighter !important;
}

li#h1 a:hover, li#h2 a:hover, li#h3 a:hover, li#h4 a:hover, li#h5 a:hover, li#h6 a:hover {
    text-decoration: underline;
    cursor: pointer;
}