.chip{
    display: inline-flex;
    flex-direction: row;
    border: none;
    cursor: default;
    height: 28px;
    outline: none;
    padding: 0;
    margin: 0 .5vw 0 0;
    font-size: 12px;
    white-space: nowrap;
    align-items: center;
    border-radius: 20px;
    vertical-align: middle;
    text-decoration: none;
    justify-content: center;
    color: white;
    text-shadow: 1px 1px gray;
}
.chip_head{
    display: flex;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    align-items: center;
    user-select: none;
    justify-content: center;
    width: 26px;
    height: 36px;
    font-size: 20px;
    margin: 0 0 0 5px;
}
.chip_content{
    font-family: 'Roboto', sans-serif;
    cursor: inherit;
    display: flex;
    align-items: center;
    user-select: none;
    white-space: nowrap;
    padding: 0 15px 0 5px;
    
}

.finance {
    background-color: #118C4F !important;
}

.physics {
    background-color: #4361ee !important;
}

.philosophy {
    background-color: #9c9c9c !important;
}

.stoicism {
    background-color: #343A40 !important;
}

.psychology {
    background-color: #e2819d !important;
}

.entrepeneurship {
    background-color: #e74c3c !important;
}

.research {
    background-color: #34495e !important;
}

.docker {
    background-color: #307bc7 !important;
}

.airobotics {
    background-color: #343A40 !important;
}

.space {
    background-color: #5b3975 !important;
}

.unityengine {
    background-color: #343A40 !important;
}

.learning {
    background-color: #f39c12b3 !important;
}
.selfimprovement {
    background-color: #008080 !important;
}