.chip{
    display: inline-flex;
    flex-direction: row;
    border: none;
    cursor: default;
    height: 28px;
    outline: none;
    padding: 0;
    margin: 0 .5vw 0 0;
    font-size: 12px;
    white-space: nowrap;
    align-items: center;
    border-radius: 20px;
    vertical-align: middle;
    text-decoration: none;
    justify-content: center;
}
.chip_head{
    display: flex;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    align-items: center;
    user-select: none;
    justify-content: center;
    width: 26px;
    height: 36px;
    font-size: 20px;
    margin: 0 0 0 .2vw;
}
.chip_content{
    font-family: 'Roboto', sans-serif;
    cursor: inherit;
    display: flex;
    align-items: center;
    user-select: none;
    white-space: nowrap;
    padding-left: 15px;
    padding-right: 20px;
}