footer.footer {
    width: 100%;
    max-width: 1500px;
    margin: auto;
    padding-right: 40px;
    padding-left: 40px;
    align-items: center;
}

footer div.socials {
    display: flex;
    margin: 25px 0 0 0;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    ;
    grid-template-rows: auto auto;
}

footer a.footerItem {
    padding: 56px 16px;
    /*border: 1px solid purple;*/
    font-size: 32px;
    line-height: 120%;
    font-weight: 400;
    text-decoration: none;
    text-transform: none;
}

hr.divider {
    border-top: 3px solid white;
    border-radius: 5px;
}

div.backToTop {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0 30px 0;
}

div.backToTop a {
    width: fit-content;
    height: fit-content;
}

@media screen and (max-width: 1500px) {
    footer div.socials {
        justify-content: space-between;
        flex-wrap: wrap;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
    footer a.footerItem {
        font-size: 25px;
    }
}

@media screen and (max-width: 1150px) {
    footer div.socials {
        flex-direction: row;
    }
    footer a.footerItem {
        padding: 0;
    }
}

@media screen and (max-width: 950px) {
    footer a.footerItem {
        font-size: 20px;
    }
}

@media screen and (max-width: 800px) {
    footer a.footerItem {
        font-size: 20px;
        padding: 0;
        display: flex;
        width: 48%;
        margin-right: 8px;
        padding-top: 8px;
        padding-bottom: 8px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    footer div.socials {
        margin-top: 40px;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }
}