nav.navigation {
    position: relative;
}

nav div.rightItems {
    float: right;
}


nav li.listItem {
    display: inline;
    padding: 15px;
    transition: .5s;
    font-size: 2rem;
}

li.listItem:hover {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    color: black;
    cursor: pointer;
    transition: .5s;
}

li.firstItem:hover {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    color: black;
    cursor: pointer;
    transition: .5s;
}

.listItem_Hidden {
    display: none !important;
}

@media screen and (max-width: 990px) {
    nav.navigation {
        width: 100%;
    }

    nav div.rightItems {
        float: none;
    }

    ul.list {
        float: none !important;
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }

    li.listItem a {
        text-align: center;
    }
}

@media screen and (max-width: 625px) {
    nav.navigation {
        width: 100%;
    }

    nav div.rightItems {
        float: none;
    }

    ul.list {
        float: none !important;
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }

    nav li.listItem {
        font-size: 1.5rem;
        display: inline-block;
        padding: 0 2vw;
    }

    li.listItem a {
        text-align: center;
    }
}

@media screen and (max-width: 505px) {
    nav.navigation {
        margin: 0 0 2.5rem 0;
    }

}

@media screen and (max-width: 480px) {
    nav li.listItem {
        font-size: 5vw;
        transition: 0s;
    }

    li.listItem a {
        width: 50px;
    }
}