div.search {
    max-width: 1500px;
    display: flex;
    align-items: center;
    border: 2px solid gray;
    padding: 10px 20px;
    border-radius: 20px;
    width: 100%;
    margin: 40px auto;
}

div.search > input {
    flex: 1;
    padding: 10px 20px;
    font-size: medium;
    border: none;
    background-color: transparent;
    color: white;
}

div.search > input:focus {
    outline: none;
}

.search__inputIcon {
    color: gray;
}
.searchPage__result {
    margin: 40px 0;
}