@import url("./responsive.css");

@font-face {
  font-family: 'Monument';
  src: url('./webfontkit/monumentextended-regular-webfont.woff') format('woff');
}

* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: "Monument", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: black; /*#131313*/
  color: white !important;
}

input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
}

section {
  padding: 3vw;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: #C3CFE2;
  color: black;
}

ol, ul {
  list-style-type: none;
}

a {
  color: inherit;
}

details, summary {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

summary::hover {
  cursor: context-menu;
}

.container {
  position: relative;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

section h1 {
  text-align: center;
  font-size: 4rem;
  /*padding: 0 0 3vw 0;*/
  letter-spacing: 0.2rem;
}

progress#scrollProgress {
  -webkit-appearance: none;
  appearance: none;
  position: fixed;
  top: 0;
  right: 0;
  transform: translate(calc(50% - 3px), calc(50vh - 50%)) rotate(90deg);
  width: 100vh;
  height: 6px;
  user-select: none;
}

progress#scrollProgress::-webkit-progress-bar {
  background-color: transparent;
  user-select: none;
}

progress#scrollProgress::-webkit-progress-value {
  background-color: white;
  user-select: none;
}

@media screen and (max-width: 625px) {
  section h1 {
    font-size: 3rem !important;
  }

  .main {
    padding: 0;
  }

  progress#scrollProgress {
    height: 4px !important;
  }
}

@media screen and (max-width: 505px) {
  section h1 {
    font-size: 2rem !important;
  }
}