.container {
  min-height: 100vh;
  position: relative;
  height: 100vh;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 3vw;
}

.title {
  line-height: 1.15;
  font-size: 7rem;
}

.info {
  margin: auto;
  max-width: 60vw;
  display: flex;
  vertical-align: middle;
  /*background-color: rgba(255, 0, 0, 0.5);*/
}

.aboutSection {
  /*background-color:rgba(137, 43, 226, 0.315);*/
  width: 75vw;
  margin: 5vw auto;
}

div.about {
  /*border: 5px dashed rgba(255, 255, 255, 0.2);*/
  z-index: 9;
  padding: 1vw;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1rem;

  max-width: 45vw;
}

div.about h2 {
  color: rgba(255, 255, 255, 0.3);
  font-size: 1rem;
}

div.about p {
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.7);
}

.about p span {
  font-family: 'Monument';
  color: white;
}


@media (max-width: 600px) {
  .main {
    width: 100%;
    flex-direction: column;
  }
}
