.container {
  min-height: 100vh;
  position: relative;
  height: 100vh;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.title {
  line-height: 1.15;
  font-size: 7rem;
  letter-spacing: 0.2rem;
}

.info {
  margin: auto;
  height: 4rem;
  width: 60vw;
  display: flex;
  /*background-color: rgba(255, 0, 0, 0.5);*/
}

section h1.sectionHeading {
  text-align: center;
  font-size: 4rem;
  padding: 0 0 3vw 0;
  letter-spacing: 0.2rem;
}

.aboutSection {
  width: 80vw;
  margin: 5vw auto 0 auto;
  /*background-color: rgba(255, 0, 0, 0.5);*/
  overflow: hidden;
  padding: 0;
}

.about {
  /*border: 5px dashed rgba(255, 255, 255, 0.2);*/
  background-color: black;
  float: left;
  z-index: 9;
  padding: 1vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  width: 40vw;
  height: fit-content;
  margin: auto;
}

div.about h2 {
  color: rgba(255, 255, 255, 0.3);
  font-size: 1rem;
}

div.about p {
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.7);
}

.about p span {
  font-family: 'Monument';
  color: white;
  letter-spacing: 0.02rem;
}

.projectSection {
  width: 100%;
  text-align: center;
  /*border: 1px solid white;*/
}

.projects {
  text-align: left !important;
  max-width: 1500px;
  margin: auto;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
  grid-template-areas: "a a" "a  a" "a  a";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.projects a.projectCard {
  /*border: blueviolet 1px solid;*/
  grid-column-end: span 1;
  grid-column-start: span 1;
  grid-row-end: span 1;
  grid-row-start: span 1;
}

.projects a.projectCard:hover {
  cursor: pointer;
}

.projectCard img {
  width: fit-content;
  border-radius: 15px;
}

.cardText {
  width: 100%;
  /*background-color: rgba(240, 248, 255, 0.397);*/
}

.cardText h2 {
  font-size: 1.2rem;
  margin: .5vw 0;
  letter-spacing: 0.04rem;
}

.cardText p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  opacity: .7;
}

.labels {
  margin: .5vw 0;
}

.projectSection a.link {
  text-align: center;
  display: inline-block;
  margin: 2vw auto;
}

.projectSection a.link:hover {
  cursor: pointer;
  text-decoration: underline;
}

ul.breadcrumb {
  list-style: none;
  max-width: 1500px;
  margin: auto;
}

ul.breadcrumb li {
  width: 10vw !important;
  display: inline;
  font-size: 1rem;
}

/* Add a slash symbol (/) before/behind each list item */

ul.breadcrumb li+li:before {
  padding: 0 1vw;
  color: white;
  content: "/\00a0";
}

ul.breadcrumb li a {
  opacity: .5;
  text-decoration: none;
  transition: .5s;
}

ul.breadcrumb li a:hover {
  text-decoration: underline;
  cursor: pointer;
  transition: .5s;
}

.noteSection {
  width: 100%;
  /*border: 1px solid white;*/
}

.notes {
  max-width: 1500px;
  margin: 5vw auto;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
  grid-template-areas: "a a" "a  a" "a  a";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.notes a.noteCard {
  border: white 3px solid;
  border-radius: 20px;
  grid-column-end: span 1;
  grid-column-start: span 1;
  grid-row-end: span 1;
  grid-row-start: span 1;
  padding: 1vw;
}

.noteCard h2 {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  padding: 0 0 .2vw 0;
}

.noteCard h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: lighter;
  opacity: .5;
  padding: 0 0 .2vw 0;
}

.noteCard p {
  font-weight: 300;
  line-height: 160%;
  font-family: 'Roboto', sans-serif;
  text-shadow:0 0 1px transparent;
  letter-spacing: 0.01rem;
  margin: .2vw 0;
}

.aboutNote {
  margin-top: 16px;
  width: 100%;
  bottom: 0;
  align-items: center;
  -webkit-box-align: center;
  justify-content: space-between;
}

.contactSection {
  max-width: 800px;
  margin: auto;
}

.contactSection h1.sectionHeading {
  text-align: left !important;
  font-size: 5rem;
}

.contactSection h1.sectionHeading a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1500px) {}

@media screen and (max-width: 1000px) {
  .title {
    font-size: 5rem;
  }
}

@media screen and (max-width: 850px) {
  .info {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .about {
    margin: 0;
    width: 100% !important;
    border: 5px dashed rgba(255, 255, 255, 0.2);
    padding: 3vw !important;
  }
  .aboutSection {
    margin: 10vw auto;
  }
}

@media screen and (max-width: 625px) {
  .main {
    padding: 1vw;
  }
  .info {
    width: 100%;
    height: 4rem;
  }
  .title {
    font-size: 4rem;
  }
  .aboutSection {
    width: 100% !important;
    margin: 10vw 0;
  }
  .about {
    margin: auto;
    width: 100% !important;
  }
  h1.sectionHeading {
    font-size: 3rem !important;
  }
}

@media screen and (max-width: 505px) {
  .title {
    font-size: 3rem;
  }
  .info {
    height: 10vw;
    position: relative;
  }
  div.arrow {
    width: 10%;
    height: 75%;
  }
  .about {
    margin: auto;
    width: 100% !important;
  }
  h1.sectionHeading {
    font-size: 2rem !important;
  }
}

@media screen and (max-width: 800px) {
  .projects {
    grid-column-gap: 1vw;
    grid-row-gap: 10vw;
    grid-template-areas: "a" "a" "a";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .notes {
    grid-column-gap: 1vw;
    grid-row-gap: 10vw;
    grid-template-areas: "a" "a" "a";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}