.container {
  min-height: 100vh;
  position: relative;
  height: 100vh;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.title {
  line-height: 1.15;
  font-size: 7rem;
  text-align: left !important;
  padding: 0 !important;
  letter-spacing: 0.2rem;
}

.info {
  margin: auto;
  height: 4rem;
  width: 60vw;
  display: flex;
  /*background-color: rgba(255, 0, 0, 0.5);*/
}

.aboutSection {
  width: 80vw;
  margin: 5vw auto 0 auto;
  /*background-color: rgba(255, 0, 0, 0.5);*/
  overflow: hidden;
  padding: 0;
}

.about {
  /*border: 5px dashed rgba(255, 255, 255, 0.2);*/
  float: left;
  z-index: 9;
  padding: 1vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  width: 40vw;
  height: fit-content;
  margin: auto;
}

div.about h2 {
  color: rgba(255, 255, 255, 0.3);
  font-size: 1rem;
}

div.about p {
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.7);
}

.about p span {
  font-family: 'Monument';
  color: white;
  letter-spacing: 0.02rem;
}

ul.breadcrumb {
  list-style: none;
  max-width: 1500px;
  margin: auto;
}

ul.breadcrumb li {
  width: 10vw !important;
  display: inline;
  font-size: 1rem;
}

/* Add a slash symbol (/) before/behind each list item */

ul.breadcrumb li+li:before {
  padding: 0 1vw;
  color: white;
  content: "/\00a0";
}

ul.breadcrumb li a {
  opacity: .5;
  text-decoration: none;
  transition: .5s;
}

ul.breadcrumb li a:hover {
  text-decoration: underline;
  cursor: pointer;
  transition: .5s;
}

.contactSection {
  max-width: 850px;
  margin: auto;
}

.contactSection h1.sectionHeading {
  text-align: left !important;
  font-size: 5rem;
}

.contactSection h1.sectionHeading a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1500px) {
  .info {
    height: 3rem;
  }     
}

@media screen and (max-width: 1150px) {
  .info {
    height: 2rem;
  }    
}

@media screen and (max-width: 1000px) {
  .title {
    font-size: 5rem;
  }
}

@media screen and (max-width: 850px) {
  .info {
    width: 90%;
    height: 2rem;
  }
}

@media screen and (max-width: 800px) {
  .about {
    margin: 0;
    width: 100% !important;
    padding: 3vw !important;
  }
  .aboutSection {
    margin: 10vw auto;
  }
}

@media screen and (max-width: 625px) {
  .main {
    padding: 1vw;
  }
  .info {
    width: 100%;
    height: 4rem;
  }
  .title {
    font-size: 4rem;
  }
  .aboutSection {
    width: 100% !important;
    margin: 10vw 0;
  }
  .about {
    margin: auto;
    width: 100% !important;
  }
  h1.sectionHeading {
    font-size: 3rem !important;
  }
}

@media screen and (max-width: 505px) {
  .title {
    font-size: 3rem;
  }
  .info {
    height: 10vw;
    position: relative;
  }
  div.arrow {
    width: 10%;
    height: 75%;
  }
  .about {
    margin: auto;
    width: 100% !important;
  }
  h1.sectionHeading {
    font-size: 2rem !important;
  }
}

.errorSection h2 {
  font-size: 4rem;
  color: black;
  background-color: white;
  width: fit-content;
}