div.tic_tac_toe {
    max-width: 1350px;
    margin: auto;
    display: flex-box;
    text-align: center;
    align-items: center;
}

div.tic_tac_toe h2 {
    margin: 1vw 0;
}

div.tic_tac_toe table {
    border-collapse: collapse;
    border: none;
    margin: 5vw auto;
}

div.tic_tac_toe table td {
    border: 1px solid white;
    width: 12vw;
    height: 12vw;
    font-size: 3vw;
    text-align: center;
}

div.tic_tac_toe table td:hover {
    cursor: pointer;
}

div.tic_tac_toe table tr:first-child td {
    border-top: none;
}

div.tic_tac_toe table tr:last-child td {
    border-bottom: none;
}

div.tic_tac_toe table tr td:first-child {
    border-left: none;
}

div.tic_tac_toe table tr td:last-child {
    border-right: none;
}

div.tic_tac_toe p.result {
    font-size: 32pt;
    margin: 3vw;
}

div.tic_tac_toe button.reload {
    font-size: 5rem !important;
    background: #5100e7 !important;
    padding: 20px !important;
    border: none !important;
    border-radius: 25px !important;
}