.noteSection {
  width: 100%;
  /*border: 1px solid white;*/
}

.noteSection header {
  max-width: 1500px;
  margin: 0 auto !important;
}

.noteSection header h1 {
  padding: 0;
  text-align: left !important;
}

.notes {
  max-width: 1500px;
  margin: 2vw auto;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
  grid-template-areas: "a a" "a  a" "a  a";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.notes a.noteCard {
  border: white 3px solid;
  border-radius: 20px;
  grid-column-end: span 1;
  grid-column-start: span 1;
  grid-row-end: span 1;
  grid-row-start: span 1;
  padding: 1vw;
}

.noteCard h2 {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  padding: 0 0 .2vw 0;
}

.noteCard h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: lighter;
  opacity: .5;
  padding: 0 0 .2vw 0;
}

.noteCard p, .noteSection header p {
  font-weight: 300;
  line-height: 160%;
  font-family: 'Roboto', sans-serif;
  text-shadow: 0 0 1px transparent;
  letter-spacing: 0.01rem;
  margin: .2vw 0;

  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
.aboutNote {
  margin-top: 16px;
  width: 100%;
  bottom: 0;
  align-items: center;
  -webkit-box-align: center;
  justify-content: space-between;
  display: inline-flex;
}


@media screen and (max-width: 800px) {
  .notes {
    grid-column-gap: 1vw;
    grid-row-gap: 5vw;
    grid-template-areas: "a" "a" "a";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin: 5vw auto;
  }
}

@media screen and (max-width: 625px) {

  .noteCard h2 {
    font-size: 1.5rem !important;
  }

  a.noteCard {
    border: 2px solid white !important;
  }
}

@media screen and (max-width: 505px) {
  .noteCard {
    width: 100%;
  }

  .noteCard h2 {
    font-size: 1rem !important;
  }

  .noteCard h3 {
    font-size: 1rem;
  }
}