.projectSection {
    width: 100%;
    text-align: center;
    /*border: 1px solid white;*/
}

.projectSection header {
    max-width: 1350px;
    margin: 0 auto !important;
}

.projectSection header h1 {
    text-align: left !important;
}

.projects {
    text-align: left !important;
    max-width: 1350px;
    margin: 2vw auto;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
    grid-template-areas: "a a""a  a";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.projects a.projectCard {
    /*border: blueviolet 1px solid;*/
    grid-column-end: span 1;
    grid-column-start: span 1;
    grid-row-end: span 1;
    grid-row-start: span 1;
}

.projects a.projectCard:hover {
    cursor: pointer;
}

.projectCard img {
    width: fit-content;
    border-radius: 15px;
}

.cardText {
    width: 100%;
    /*background-color: rgba(240, 248, 255, 0.397);*/
}

.cardText h2 {
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    margin: .25vw 0;
}

.cardText h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: lighter;
    opacity: .5;
    padding: 0 0 .2vw 0;
}

.cardText p, .projectSection header p {
    font-weight: 300;
    line-height: 160%;
    font-family: 'Roboto', sans-serif;
    text-shadow: 0 0 1px transparent;
    letter-spacing: 0.01rem;
    margin: .2vw 0;
    text-align: left;
}

.labels {
    margin: .5vw 0;
}

.projectSection a.link {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}

.projectSection a.link:hover {
    cursor: pointer;
    text-decoration: underline;
}

@media screen and (max-width: 800px) {
    .projects {
        grid-column-gap: 1vw;
        grid-row-gap: 10vw;
        grid-template-areas: "a""a""a";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}

@media screen and (max-width: 625px) {

    .projectCard h2 {
        font-size: 1.5rem !important;
    }
}

@media screen and (max-width: 505px) {
    .projectCard {
        width: 100%;
    }

    .projectCard h2 {
        font-size: 1rem !important;
    }

    .projectCard h3 {
        font-size: 1rem;
    }
}