header.header {
    /*border: 1px red solid;*/
    margin: 1vw auto;
    max-width: 1350px;
}

h1.title {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    margin: 0 0 .2vw 0;
}

h2.author {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: lighter;
    opacity: .7;
    padding: 0 0 .2vw 0;
    margin: 0 0 .2vw 0;
}

hr.divider {
    border-top: 3px solid white;
    border-radius: 5px;
}

div.noteMeta {
    width: 100%;
    margin: 10px auto;
    display: flex;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.metaItem {
    margin-right: 80px;
    flex-direction: column;
    align-items: flex-start;
    font-size: 20px;
    line-height: 150%;
}

.metaItem h4 {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 8px;
    font-weight: 500;
}

.metaItem p, .metaItem a {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.metaItem a {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: white;
}

.metaItem span:hover {
    cursor: pointer;
}

a.arrowLink {
    text-decoration: none;
    border: none;
}

article.noteArticle {
    margin: 1vw auto;
    max-width: 950px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1rem;
}

.noteArticle .abstract {
    font-size: 1.5rem;
}

div.articleContent {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    line-height: 1.4rem;
    text-align: justify;
}

/***********************************

Styling generated HTML from Markdown

***********************************/

/*.articleContent h1, .articleContent h2, .articleContent h3, .articleContent h4 {
    font-weight: lighter;
    
}*/

.articleContent h1 {
    font-family: 'Monument';
    font-size: 2.25em;
    text-align: left !important;
    margin-top: 3rem;
    margin-bottom: 1rem;
    line-height: 1.1;
    letter-spacing: 0.05rem;
}

.articleContent h2 {
    margin-top: 1.5rem;
    margin-bottom: .25rem;
}

.articleContent h3 {
    margin-top: .6rem;
    margin-bottom: .6rem;
}

.articleContent h4 {
    margin-top: .5em;
    margin-bottom: .5em;
}

.articleContent p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.articleContent p a {
    font-weight: bold;
    border-bottom: 1px solid white;
    padding-bottom: 2px;
}

.articleContent p span {
    border-bottom: 1px solid white;
    padding-bottom: 2px;
}

.articleContent p span#marker {
    background: rgba(255, 255, 0, 0.5);
}

.articleContent p em {
    opacity: .7;
    font-style: italic;
}

.articleContent strong {
    font-weight: 600;
}

.articleContent blockquote {
    font-size: 1.4em;
    margin: 50px 0;
    font-family: Open Sans !important;
    font-style: italic;
    color: rgba(255, 255, 255, 0.7);
    padding: 1.2em 30px 1.2em 75px;
    border-left: 4px solid white;
    line-height: 1.6;
    position: relative;
}

.articleContent blockquote::before {
    font-family: Arial;
    content: "\201C";
    color: white;
    font-size: 3em;
    position: absolute;
    left: 10px;
    top: -10px;
}

.articleContent blockquote::after {
    content: '';
}

.articleContent blockquote span {
    display: block;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-style: normal;
    margin-top: .5rem;
}

.articleContent ul {
    margin: 1.25rem 0 1.25rem 3rem;
    list-style-type: disc !important;
}

.articleContent ol {
    margin: 1.25rem 0 1.25rem 3rem;
    list-style-type: decimal !important;
}

.articleContent li {
    margin: .5rem 0;
}

.articleContent pre {
    color: #e5e7eb;
    background-color: #1f2937;
    overflow-x: auto;
    width: 100%;
    font-size: .8rem;
    margin: .5vw auto;
    line-height: 1.7;
    border-radius: 15px;
    padding: .8rem 1.1rem;
}

.articleContent code {
    background-color: transparent;
    border-width: 0;
    border-radius: 15px;
    padding: 0;
    font-weight: 400;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}

.articleContent table {
    width: 100%;
    table-layout: auto;
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: .85rem;
    line-height: 1.7;
}

.articleContent iframe {
    width: 600px;
    height: 400px;
    border-radius: 30px;
    display: block;
    margin: 2vw auto;
}

.articleContent img {
    width: 100%;
}

.articleContent thead {
    color: #111827;
    font-weight: 600;
    border-bottom-width: 1px;
    border-bottom-color: #d1d5db;
}

.articleContent tr {
    border-bottom-width: 1px;
    border-bottom-color: #e5e7eb;
}

.articleContent td {
    vertical-align: top;
    padding: .6rem;
}

.articleContent img {
    margin: 2rem 0;
    border-radius: 20px;
}

.cover {
    margin: 2vw auto;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 0 20px 0 0;
}

.inner_book {
    width: 135px;
    height: fit-content;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateZ(0);
}

.inner_book {
    display: flex;
    align-items: center;
    transform-style: preserve-3d;
    perspective: 2000px;
}

.inner_book:before {
    content: "";
    width: 100%;
    position: absolute;
    height: 0;
    bottom: 14px;
    transform: rotateY(-20deg) translateZ(-20px);
    z-index: 0;
    box-shadow: 10px 12px 20px 13px rgba(255, 255, 255, 0.3);
}

.inner_book .img {
    transform: rotateY(-20deg);
    padding: 0 !important;
    width: 100%;
    z-index: 5;
    clear: both;
    height: 100%;
    background: rgb(125, 125, 125);
}

.inner_book img {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    top: 0;
}

.inner_book .img:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100%);
    border: 2px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-left: 4px solid rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.page {
    width: calc(100% - 20px);
    height: calc(100% - 2px);
    position: absolute;
    box-shadow: inset 0px -1px 2px rgba(200, 200, 200, 1), inset -1px 0px 1px rgba(200, 200, 200, .5);
    border-radius: 0px 3px 3px 0px;
    transform: rotateY(-20deg) translateZ(-5px);
    right: -3px;
    z-index: 4;
    background: white;
}

.page_2 {
    height: calc(100% - 4px);
    right: -6px;
    z-index: 3;
}

.page_3 {
    height: calc(100% - 6px);
    right: -9px;
    z-index: 2;
}

.page_4 {
    height: calc(100% - 8px);
    right: -12px;
    z-index: 1;
}

.page_5 {
    height: calc(100% - 10px);
    right: -15px;
    z-index: 0;
}

.img.final_page {
    position: absolute;
    z-index: -20;
    right: -17px;
    transform: rotateY(-19deg) translateZ(-10px) scale(0.984);
}

div.labels {
    margin: .5vw 0 .8vw 0;
}

@media screen and (max-width: 1000px) {
    .noteMeta {
        justify-content: space-between;
    }
}

@media screen and (max-width: 800px) {
    .articleContent {
        margin: auto !important;
        width: 100% !important;
        padding: 3vw !important;
    }

    .noteArticle {
        margin: 5vw auto;
    }

    h1.title {
        font-size: 1.5rem;
    }

    .noteArticle .abstract {
        font-size: 1rem;
        margin: 1rem;
    }

    .articleContent h1 {
        text-align: center;
        font-size: 1.5rem;
    }

    .articleContent h2 {
        font-size: 1rem;
    }

    h2.author {
        font-size: 1.5rem;
    }

    .metaItem {
        margin: 0;
    }

    .noteArticle iframe {
        width: 100%;
        height: 42vh;
    }
}

@media screen and (max-width: 500px) {
    .noteMeta {
        flex-direction: column;
    }
}